<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta data-n-head="ssr" data-hid="theme-color" name="theme-color" content="#1778ff" />
    <meta name="keywords" content="discord, r2" />
    <meta property="og:image" content="https://giiki.herokuapp.com/assets/fakelove.webp" />
    <meta name="title" content="R2+" />
    <meta name="description" content="assiste séries" />
    <title>R2+ <%= user.name %></title>
    <link id="favicon" rel="icon" href="assets/R2_Logo.png" type="image/x-icon" />
    <link href="css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fe60fb8790.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>

    <%- include('partials/navbar.ejs') %>

    <div class="bp" style="background-image: url(<%=user.pfp%>)">
        <div class="bg" style="
        background-image: linear-gradient(
          0deg,
          rgb(0, 0, 0) 0%,
          rgba(0, 0, 0, 0.597) 65%,
          rgba(238, 234, 255, 0) 90%
        )">
        </div>
        <div>
            <div class="icon">
                <img class="pfp" src="<%=user.pfp%>">
            </div>
            <h1 class="name"><%= user.name %></h1>
        </div>
    </div>

    <div class="sec2">

        <div class="cards">
            <a href="<%= `https://discord.com/users/${user.id}` %>">
                <div class="dsc">
                    <i class="fab fa-discord"></i> discord de <%= user.name%>
                </div>
            </a>

            <div class="dsc red">

                <%
            let tags = ["membro"]

            if(user.id === "240269142848962560" || "692910323383926865" || "759081738432938054") tags.push("dono");

            let res = inventario.has(s => s.id === id)

            if(res) tags.push("criador");
                        
            %>

                <i class="fas fa-tags"></i><%= ` tags: ${tags.join(" | ")}` %>
            </div>

        </div>
    </div>

    <div class="sec2">

        <%if(res){ %>

        <h1 class="h1b">Séries:</h1>
        <div class="container">

            <% inventario.get(yt => yt.id === id).series.forEach(series => { %>

            <a href="<%= series.link %>">
                <div class="server" data-aos="zoom-in" data-aos-offset="-100">
                    <img class="server-icon" src=<%= `https://i3.ytimg.com/vi/${videoid(series.link)}/hqdefault.jpg` %>>

                    <%if(!req.session.bearer_token){} else { %>
                    <input class="star" type="checkbox" title="favoritar" <% if(user.favs.includes(serie.nome)){ %>
                        checked <%}%> > <%}%> <div class="server-name">
                    <%= series.nome %>
                </div>
            </a>
        </div>

        <% }) %>

    </div>

    <% } %>

    <%if(user.favs){ %>

    <h1 class="hs2" style="margin-top: 59px !important">Favoritos:</h1>
    <div class="container left">

        <% user.favs.forEach(series => { %>

        <% const result = inventario.get(yt => yt.series.some(s => s.nome === series))
           const serie = result.series.find(s => s.nome === series) %>

        <a href="<%= serie.link %>">
            <div class="server" data-aos="zoom-in" data-aos-offset="-100">
                <img class="server-icon" src=<%= `https://i3.ytimg.com/vi/${videoid(serie.link)}/hqdefault.jpg` %>>

                <%if(!req.session.bearer_token){} else { %>
                <form action="/fav" method="POST" />
                <input type="hidden" name="serie" value="<%=serie.nome%>" />
                <input class="star" onchange="this.form.submit()" name="fav" type="checkbox" title="favoritar"
                    <% if(user.favs.includes(serie.nome)){ %> checked <%}%> > </form> <%}%> <div class="server-name">
                <%= serie.nome %>
            </div>
        </a>
    </div>

    <% }) %>
    </div>
    <% } %>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="js/main.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>